$background-color: white;
$card-background-color: $font-navbar-color;
$card-header-color: lighten(#737373, 20%);
$card-header-font-size: 24px;
$card-desc-font-size: 14px;
$card-stats-font-size: 12px;
$card-padding: 7px;
$separator-color: lighten(#C4C4C4, 10%);
$img-width: 100%;

body {
    background-color: $background-color;
}

.article-detail {
    padding-top: 60px;

    .ui-status { display: none; }
    &.empty {
        .ui-status.empty { display: block; }
    }
    &.loading {
        .ui-status.loading { display: block; }
    }
    &.error {
        .ui-status.error { display: block; }
    }
    &.ideal {
        .ui-status.ideal { display: block; }
    }

    &.empty, &.loading, &.error {
        font-size: $font-size-large;
        text-align: center;
        padding: 50px;
    }
    .article {
        .article-wrapper {
            width: 100%;
            .img-container {
                text-align: center;
            }
            .article-img {
                margin: auto;
                object-fit: cover;
                width: $img-width;
                max-height: 500px;
                border: solid 2px gray;
                border-radius: 10px;
            }

            .article-title {
                padding: $card-padding;
                font-size: $card-header-font-size + 5px;
                color: darken($card-header-color,30%);
                text-align: center;
                font-weight: 300;
            }
            
            .article-stats {
                width: $img-width;
                margin: auto;
                padding: 7px 7px 3px 7px;
                font-size: $card-stats-font-size;
                color: $card-header-color;
                text-align: justify;
                font-weight: 300;
                // border-bottom: 1px solid $separator-color;
                .published-time {
                    padding: 7px 7px 3px 7px;
                    display: inline-block;
                    width: 62%;
                    box-sizing: border-box;
                }
                .stats-buttons{
                    width: 35%;
                    display: inline-block;
                    box-sizing: border-box;
                    white-space: nowrap;
                    .msg-count {
                        padding: 7px 0 3px 0;
                        display: inline-block;
                        width: 40%;
                        box-sizing: border-box;
                    }
                    .fav-count {
                        padding: 7px 0 3px 0;
                        display: inline-block;
                        width: 40%;
                        box-sizing: border-box;
                        &.liked{
                            color: red;
                        }
                    }
                    .share-icon {
                        padding: 7px 0 3px 0;
                        display: inline-block;
                        width: 17%;
                        box-sizing: border-box;
                    }
                }
            }
            .long-desc {
                padding: $card-padding;
                font-size: $card-desc-font-size;
                color: darken($card-header-color,30%);
                text-align: justify;
                font-weight: 300;
                // border-bottom: 1px solid $separator-color;
                margin-bottom: 3px;
                line-height: 2em;
            }
            .article-author {
                width: 100%;
                margin: auto auto auto auto;
                padding: 15px 5px 20px 5px;
                display: block;
                // border-bottom: 1px solid $separator-color;
                .wrapper {
                    width: 95%;
                    margin: auto;
                    text-align: center;
                    .author-img-container {
                        width: 15%;
                        display: inline-block;


                        .article-author-img {
                            
                            width: 100%;
                            max-width: 110px;
                            border-radius: 50%;
                        }
                    }
                    .author-text-container {
                        width: 60%;
                        display: inline-block;

                        .label {
                            color: $card-header-color;
                            font-size: 14px;
                            font-weight: 400;
                            padding: 0;

                        }
                        .author-name {
                            text-decoration: underline;
                            font-size: 14px;
                            color: $card-header-color;

                        }
                    }
                }
                
            }
        }
    }

    
}