$logo-font: 'Kaushan Script';
$font-navbar-color: #ffffff;
$navbar-bg-color: #FD7400;
$navbar-color-contrast1: #ffffff;
$navbar-color-contrast2: $navbar-bg-color;


.navbar .container-fluid {
    background-color: $navbar-bg-color;
    opacity: 0.8;
    
    a {
        color: $font-navbar-color;
    }
    .navbar-header {

        .navbar-toggle {
            // &.collapsed {

                background-color: transparent;
                border: none;
                margin-right:5px;

                .icon-bar {
                    background-color: $navbar-color-contrast1;
                    width: 4px;
                    height: 4px;
                    border-radius: 50%;
                }
            // }
        }
        .navbar-brand {
            font-family: $logo-font, cursive;
            color: $font-navbar-color;
        }

        .search-button {
            // margin-right: 30px;
            font-size: 20px;
            margin-bottom: 0;
            margin-right: 0;
            color: $font-navbar-color;
            padding: 8px 5px;
            cursor: pointer;

        }

        .search-input {
                // float:right;
                margin: 8px 15px 0 0;
                width: 40%;
                color: $font-navbar-color;
                border-bottom: 2px solid $font-navbar-color;
                border-radius: 0;
                padding-bottom: 1px;
        }

        
    }

    .navbar-collapse {
        .search-container {

            .search-button {
                float:right;
                background-color: transparent;
                border: none;
                color: $font-navbar-color;
                font-size: 20px;
                margin: 11px 0 0 0;
                &:focus {
                    outline: none;
                }
            }
            .search-input {
                float:right;
                margin: 11px 15px 0 0;
                width: 40%;
                color: $font-navbar-color;
            }
        }
        
        li {
            a{
                &:hover {
                    background-color: $navbar-color-contrast1;
                    color: $navbar-bg-color;

                }
                &:focus {
                    background-color: $navbar-color-contrast1;
                    color: $navbar-bg-color;

                }
            }
        }
        &[aria-expanded="true"] { // works when collapsed
            .navbar-nav {
                li {

                    border-bottom: 2px solid #eeeeee;
                    a {
                        
                        background-color: $navbar-color-contrast1;
                        color: $navbar-bg-color;
                        &:hover {
                            background-color: $navbar-bg-color;
                            color: $navbar-color-contrast1;

                        }
                        &:focus {
                            background-color: $navbar-bg-color;
                            color: $navbar-color-contrast1;

                        }               
                    }
                }  
            }
        }
        .dropdown-menu {
            li {
                background-color: $navbar-bg-color;
            }
        }
    }
    
}
