<section class="article-list loading">
    <div class="ui-status empty">
        <!-- TODO -->
        <div class="empty-container">
            <p class="empty-msg">
                There is no articles in this moment!
                Please come by later...
            </p>
        </div>
        
    </div>
    <div class="ui-status error">
        <!-- TODO -->
        <div class="error-container">
            <p class="error-msg">
                Oops something happened, please take a screenshot of this page and send us a message to eng.luisrosales@gmail.com
            </p>
        </div>
    </div>
    <div class="ui-status loading">
        <!-- TODO -->
        <div class="loading-container">
            <p class="loading-msg">
                Hang on there, we are loading good stuff...
            </p>
        </div>
    </div>
    <div class="ui-status ideal"></div>
</section>