<section class="article-list loading">
    <div class="ui-status empty">
        <!-- TODO -->
        <div class="empty-container">
            <p class="empty-msg">
                There is no articles in this moment!
                Please come by later...
            </p>
        </div>
        
    </div>
    <div class="ui-status error">
        <!-- TODO -->
        <div class="error-container">
            <p class="error-msg">
                Oops something happened, please take a screenshot of this page and send us a message to eng.luisrosales@gmail.com
            </p>
        </div>
    </div>
    <div class="ui-status loading">
        <!-- TODO -->
        <div class="loading-container">
            <p class="loading-msg">
                Hang on there, we are loading good stuff...
            </p>
        </div>
    </div>
    <div class="ui-status ideal">
        <div class="container">
            <div class="row">
                <article data-id="1" class="col-xs-12 col-sm-6 article">
                    <img src="./img/containers.jpg" alt="containers" class="article-img">
                    <header class="article-title">
                        Latindada.com new technolgies
                    </header>
                    <p class="short-desc">
                        Esta es la descripcion corta del artícul en cuestión, sta es la descripcion corta del artícul en cuestión,sta es la descripcion corta del artícul en cuestión,sta es la descripcion corta del artículo ...
                    </p>
                    <div class="article-stats">
                        <div class="published-time">
                            Published: <span class="text">about 1 sec ago</span>
                        </div>
                        <div class="msg-count">
                            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                            <span class="count">14</span>
                        </div>
                        <div class="fav-count">
                            <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                            <span class="count">14</span>
                        </div>
                    </div>
                    <div class="article-author">
                        <div class="author-img-container">
                            <img src="./img/author.jpg" alt="author" class="article-author-img">
                        </div>
                        <div class="author-text-container">
                            <div class="label">About the author:</div>
                            <div class="author-name">Luis Rosales</div>
                        </div>

                    </div>
                    <div class="action-buttons">
                        <div class="msg-button">
                            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                            <span class="msg-label">Add a comment</span>
                        </div>
                        <div class="fab-button">
                            <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                            <span class="msg-label">Add to favorites</span>
                        </div>
                    </div>
                </article>
            </div>

        </div>

    </div>
</section>