<section class="comments loading" id="comments-section">
    <div class="ui-status loading">
        Loading...
    </div>
    <div class="ui-status empty">
        There are no comments...
    </div>
    <div class="ui-status error">
        Error on loading...
    </div>
    
    <div class="ui-status ideal">
        <h4 class="comment-title">Comments</h4>
        <ul class="collection">
            <li class="collection-item avatar">
                <img src="./img/No_image_available.svg" alt="" class="circle">
                <div class="collection-content">
                    <span class="title">Title</span>
                    <p>First Line <br> Second Line </p>
                </div>
            </li>
            <li class="collection-item avatar">
                <img src="./img/No_image_available.svg" alt="" class="circle">
                <div class="collection-content">
                    <span class="title">Title</span>
                    <p>First Line <br> Second Line </p>
                </div>
            </li>
            <li class="collection-item avatar">
                <img src="./img/No_image_available.svg" alt="" class="circle">
                <div class="collection-content">
                    <span class="title">Title</span>
                    <p>First Line <br> Second Line </p>
                </div>
            </li>
            <li class="collection-item avatar">
                <img src="./img/No_image_available.svg" alt="" class="circle">
                <div class="collection-content">
                    <span class="title">Title</span>
                    <p>First Line <br> Second Line </p>
                </div>
            </li>
            <li class="collection-item avatar">
                <img src="./img/No_image_available.svg" alt="" class="circle">
                <div class="collection-content">
                    <span class="title">Title</span>
                    <p>First Line <br> Second Line </p>
                </div>
            </li>
        </ul>
    </div>
</section>